body {
    margin: 10px;
}
.webChat {
    height: calc(100vh - 75px) !important;
}

.userIdArea {
    background: #006abc;
    font-size: 1.3em;
    padding: 10px;
    font-family: sans-serif;
    color: white;
}
.userIdArea input {
    font-size: 1.1em;
    margin-left: 10px;
}




/* SpeechToText */
.main-container {
    margin-top: 100px;
}

.fa-microphone {
    color: #14A76C;
}

.fa-microphone:hover {
    color: #0c6e47;
}

.fa-file-audio {
    color: #FF652F;
}

.fa-file-audio:hover {
    color: #d44916;
}

.output-display {
    background-color: #383b4b;
    height: 700px;
}

.fas, .fa {
    cursor: pointer;
}

.background {
    background-color: #272727;
    color: #747474;
}